wheel
flask-appbuilder
psycopg2-binary
# Workaround to error with wtforms 3.0.0, fixed in https://github.com/dpgaspar/Flask-AppBuilder/pull/1733 but not released yet as of 2021-11-9
wtforms<3

flask-reverse-proxy-fix
werkzeug<1

